<div class="card" style="width: 18rem;">
    <img src="/img/prod1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nombre Producto</h5>
      <p class="card-text">Precio</p>
      <a href="#" class="btn btn-primary">Ver más...</a>
      <div>
        <i class="fa-regular fa-star"></i>
        <i class="fa-solid fa-cart-shopping"></i>
    </div>
    </div>
  </div>