<div class="card">
    <img src="/img/prod1.jpg" alt="">
    <div>
        <h3>Nombre Producto</h3>
        <p>Precio</p>
        <div>
            <i class="fa-regular fa-star"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </div>
</div>