<div class="container">
    <div id="myCarousel" class="row">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card mx-auto">
                        <img src="/img/prod1.jpg" class="d-block w-100" alt="">
                        <div>
                            <h3>Nombre Producto</h3>
                            <p>Precio</p>
                            <div>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card mx-auto">
                        <img src="/img/prod2.jpg" class="d-block w-100" alt="">
                        <div>
                            <h3>Nombre Producto</h3>
                            <p>Precio</p>
                            <div>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card mx-auto">
                        <img src="/img/prod3.jpg" class="d-block w-100" alt="">
                        <div>
                            <h3>Nombre Producto</h3>
                            <p>Precio</p>
                            <div>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card mx-auto">
                        <img src="/img/prod3.jpg" class="d-block w-100" alt="">
                        <div>
                            <h3>Nombre Producto</h3>
                            <p>Precio</p>
                            <div>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev button_card_carusel" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next button_card_carusel" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>