<div class="home__body_sectionUltimos--card">
    <img src="/img/prod1.jpg" alt="">
    <div class="home__body_sectionUltimos--card-info">
        <h3 class="home__body_sectionUltimos--card-info-titulo">Nombre Producto</h3>
        <p class="home__body_sectionUltimos--card-info-descripcion">Descripcion</p>
        <p class="home__body_sectionUltimos--card-info-precio">Precio</p>
        <div class="home__body_sectionUltimos--card-info-iconos">
            <i class="fa-regular fa-star"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </div>
</div>