<div class="home__body_carreteMarcas"><!-- CARRETE MARCAS -->
    <div class="home__body_carreteMarcas-container">

        <div class="home__body_carreteMarcas-container-image"><img src="/img/marcaBCRich.png" alt="marca1"></div>
        <div class="home__body_carreteMarcas-container-image"><img src="/img/marcaFender.png" alt="marca2"></div>
        <div class="home__body_carreteMarcas-container-image"><img src="/img/marcaEpiphone.png" alt="marca3"></div>
        <div class="home__body_carreteMarcas-container-image"><img src="/img/marcaPRS.webp" alt="marca4"></div>
        <div class="home__body_carreteMarcas-container-image"><img src="/img/marcaGibson.jpg" alt="marca5"></div>
        <div class="home__body_carreteMarcas-container-image"><img src="/img/marcaIbanez.jpg" alt="marca6"></div>
        <div class="home__body_carreteMarcas-container-image"><img src="/img/marcaSquier.png" alt="marca7"></div>

    </div>
</div>

