<header class="home__header">
    <div class="home__header_container">
        <div class="home__header_logo">
            <a class="home__header_logo_text">
                <h1>Signature</h1>
                <h2>Guitars</h2>
            </a>
        </div>
        <div class="home__header_container_menu">
            <button class="home__header_burguerMenu">
                <i class="fa-solid fa-bars"></i>
            </button>
            <nav class="home__header_nav-menu">
                <ul>
                    <li class="home__header_butonCatalogo"><a href="">Catálogo</a></li>
                    <li class="home__header_butonNoticias"><a href="">Noticias</a></li>
                    <li class="home__header_butonCategorias"><a href="">Categorías</a></li>
                </ul>
            </nav>
            <nav class="home__header_nav-users">
                <a href="/users/login" class="home__header_nav--users-user"><i class="fa-solid fa-user"></i></a>
                <a href="/users/cart" class="home__header_nav--users-cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>
        </div>

    </div>
</header>