<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head.ejs') %>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>

        <body class="detail_body">
            <main class="detail_main">
                <section class="detail_section">
                    <!-- que este h4 sea un nav -->
                    <h6 class="detail_section__title">Catálogo > PRS > Serie SE > Este Producto</h6>

                    <div class="detail_section__containerProduct">
                        <h6 class="detail_section__containerProduct-title">
                            Titulo de Producto</h6>

                        <div class="detail_section__containerProduct-imgSec">
                            <img src="/img/prod2.jpg" alt="ImagenSecundaria">
                            <img src="/img/prod2.jpg" alt="ImagenSecundaria">
                            <img src="/img/prod2.jpg" alt="ImagenSecundaria">
                            <img src="/img/prod2.jpg" alt="ImagenSecundaria">
                        </div>
                        <div class="prueba">
                            <div class="detail_section__containerProduct-imgPri">
                                <img src="/img/prod2.jpg" alt="ImagenPrincipal">
                            </div>
                            <div class="detail_section__containerProduct-description">
                                <i class="fa-solid fa-star"></i>
                                <p>Descripcion: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, iste
                                    vel?
                                    
                                </p>
                                <h4 class="detail_section__containerProduct-description-price">
                                    U$S 2000
                                </h4>
                                <div class="detail_section__icons">
                                    <i class="fa-solid fa-circle icon1"></i>
                                    <i class="fa-solid fa-circle icon2"></i>
                                    <i class="fa-solid fa-circle icon3"></i>
                                 
                                </div>
                           
                                <button class="detail_section__containerProduct-btn">Agregar al carrito</button>
                            
                        </div>
                        </div>
                    </div>
                </section>
                <section class="detail_section2"><!-- Características -->
                    <h4 class="detail_section2__title">
                        Lo que tenés que saber de este producto
                    </h4>
                    <div class="detail_section2__caracteristic"> <!-- Primera Caract -->
                        <h4 class="detail_section2__caracteristic-title">Body</h4>
                        <ul>
                            <li>
                                <h6><b>Body Construction </b><span>SolidBody</span> </h6>
                            </li>
                            <li>
                                <h6><b>Body Wood </b><span>Poplar</span> </h6>
                            </li>
                            <li>
                                <h6><b>Top Carve </b><span>Flat Top</span> </h6>
                            </li>
                        </ul>
                    </div>
                    <div class="detail_section2__caracteristic"> <!-- Segunda Caract -->
                        <h4 class="detail_section2__caracteristic-title">Hardware</h4>
                        <ul>
                            <li>
                                <h6><b>Bridge </b><span>2-Point Steel Tremolo</span> </h6>
                            </li>
                            <li>
                                <h6><b>Tuners </b><span>Vintage-Style</span> </h6>
                            </li>
                            <li>
                                <h6><b>Hardware Type </b><span>Nickel</span> </h6>
                            </li>
                            <li>
                                <h6><b>Nut </b><span>Synthetic Bone</span> </h6>
                            </li>
                        </ul>
                    </div>
                    <div class="detail_section2__caracteristic"> <!-- Tercera Caract -->
                        <h4 class="detail_section2__caracteristic-title">Neck</h4>
                        <ul>
                            <li>
                                <h6><b>Lorem 1</b><span>Value</span> </h6>
                            </li>

                            <li>
                                <h6><b>Lorem 2</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 3</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 4</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 5</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 6</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 7</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 8</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 9</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 10</b><span>Value</span> </h6>
                            </li>
                        </ul>
                    </div>
                    <div class="detail_section2__caracteristic"> <!-- Cuarta Caract -->
                        <h4 class="detail_section2__caracteristic-title">Electronics</h4>
                        <ul>
                            <li>
                                <h6><b>Lorem 1</b><span>Value</span> </h6>
                            </li>

                            <li>
                                <h6><b>Lorem 2</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 3</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 4</b><span>Value</span> </h6>
                            </li>

                        </ul>
                    </div>
                    <div class="detail_section2__caracteristic"> <!-- Quinta Caract -->
                        <h4 class="detail_section2__caracteristic-title">Neck/Body Assembly</h4>
                        <ul>
                            <li>
                                <h6><b>Lorem 1</b><span>Value</span> </h6>
                            </li>
                        </ul>
                    </div>
                    <div class="detail_section2__caracteristic"> <!-- Sexta Caract -->
                        <h4 class="detail_section2__caracteristic-title">Additio0nal Info</h4>
                        <ul>
                            <li>
                                <h6><b>Lorem 1</b><span>Value</span> </h6>
                            </li>

                            <li>
                                <h6><b>Lorem 2</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 3</b><span>Value</span> </h6>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- Videos / Reseñas -->
                <div>
                    <%- include('../partials/videos-reseñ.ejs') %>
             
                </div>
            </main>
        </body>

</html>