<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6f4f4fce15.js" crossorigin="anonymous"></script>
    <title>SignatureGuitars</title>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glider@1.10.1/dist/glider.min.js"></script>
    <link rel="stylesheet" type="text/css" href="glider.css" />
    <script src="glider.js"></script>
</head>
<header>
    <div>
        <a href=""><img src="/img/Logo.png" alt="Logo"></a>
    </div>
    <nav>
        <ul>
            <li><a href="">Catálogo</a></li>
            <li><a href="">Noticias</a></li>
            <li><a href="">Categorías</a></li>
        </ul>
    </nav>
    <nav>
        <a href=""><i class="fa-solid fa-user"></i></a>
        <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
    </nav>
</header>

<body>
    <div><!-- BANNER -->
        <img src="/img/banner-rhcp.gif" alt="bannerAnimado">
    </div>
    <div><!-- CARRETE MARCAS -->
        <div><img src="/img/marcaBCRich.png" alt="marca1"></div>
        <div><img src="/img/marcaFender.png" alt="marca2"></div>
        <div><img src="/img/marcaEpiphone.png" alt="marca3"></div>
        <div><img src="/img/marcaPRS.webp" alt="marca4"></div>
        <div><img src="/img/marcaGibson.jpg" alt="marca5"></div>
        <div><img src="/img/marcaIbanez.jpg" alt="marca6"></div>
        <div><img src="/img/marcaSquier.png" alt="marca7"></div>
    </div>

    <section>
        <h2>Ofertas</h2>
        <!--  <div>

            <div>
                <img src="/img/prod1.jpg" alt="">
                <div>
                    <h3>Nombre Producto</h3>
                    <p>Precio</p>
                    <div>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="glider-contain">
            <div class="glider">
                <div> <img src="/img/prod1.jpg" alt="">
                    <div>
                        <h3>Nombre Producto</h3>
                        <p>Precio</p>
                        <div>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div> <img src="/img/prod1.jpg" alt="">
                    <div>
                        <h3>Nombre Producto</h3>
                        <p>Precio</p>
                        <div>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div> <img src="/img/prod1.jpg" alt="">
                    <div>
                        <h3>Nombre Producto</h3>
                        <p>Precio</p>
                        <div>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div> <img src="/img/prod1.jpg" alt="">
                    <div>
                        <h3>Nombre Producto</h3>
                        <p>Precio</p>
                        <div>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
            </div>

            <button aria-label="Previous" class="glider-prev">«</button>
            <button aria-label="Next" class="glider-next">»</button>
            <div role="tablist" class="dots"></div>
        </div>
    </section>
    <section>
        <h2>Últimos Modelos</h2>
        <div><!-- Contenedor cards -->
            <div><!-- Card -->
                <img src="/img/prod1.jpg" alt="">
                <div>
                    <h3>Nombre Producto</h3>
                    <p>Descripcion</p>
                    <p>Precio</p>
                    <div>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </div>
            </div><!-- fin card -->
            <div><!-- Card -->
                <img src="/img/prod1.jpg" alt="">
                <div>
                    <h3>Nombre Producto</h3>
                    <p>Descripcion</p>
                    <p>Precio</p>
                    <div>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </div>
            </div><!-- fin card -->
            <div><!-- Card -->
                <img src="/img/prod1.jpg" alt="">
                <div>
                    <h3>Nombre Producto</h3>
                    <p>Descripcion</p>
                    <p>Precio</p>
                    <div>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </div>
            </div><!-- fin card -->
            <div><!-- Card -->
                <img src="/img/prod1.jpg" alt="">
                <div>
                    <h3>Nombre Producto</h3>
                    <p>Descripcion</p>
                    <p>Precio</p>
                    <div>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </div>
            </div><!-- fin card -->
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glider@1.10.1/dist/glider.min.js">

        new Glider(document.querySelector('.glider'), {
            slidesToShow: 5,
            slidesToScroll: 1,
            draggable: true,
            dots: '.dots',
            arrows: {
                prev: '.glider-prev',
                next: '.glider-next'
            }
        });
        window.addEventListener('load', function () {
            new Glider(document.querySelector('.glider'), {
                slidesToShow: 5
            })
        })
    </script>
</body>
<footer>
    <div><!-- otros links -->
        <nav>
            <ul>
                <li><a href="">Preguntas Frecuentes</a></li>
                <li><a href="">Términos y Condiciones</a></li>
                <li><a href="">Medios de Pago</a></li>
            </ul>
        </nav>
        <span>
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-bitcoin"></i>
        </span>
    </div>
    <div><!-- contacto -->
        <h3>Contacto</h3>
        <h5>signature@guitars.com</h5>
        <nav>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-discord"></i></a>
            <a href=""><i class="fa-brands fa-telegram"></i></a>
        </nav>
    </div>
    <div>
        <h4>Copyright Pablo Mas & Sol López - 2023</h4>
    </div>



</footer>

</html>