<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6f4f4fce15.js" crossorigin="anonymous"></script>
    <title>SignatureGuitars</title>
</head>
<header>
    <div>
        <a href=""><img src="/img/Logo.png" alt="Logo"></a>
    </div>
    <nav>
        <ul>
            <li><a href="">Catálogo</a></li>
            <li><a href="">Noticias</a></li>
            <li><a href="">Categorías</a></li>
        </ul>
    </nav>
    <nav>
        <a href=""><i class="fa-solid fa-user"></i></a>
        <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
    </nav>
</header>

<body>
    <div><!-- BANNER -->
        <img src="/img/banner-rhcp.gif" alt="bannerAnimado">
    </div>
    <div><!-- CARRETE MARCAS -->
        <div><img src="/img/marcaBCRich.png" alt="marca1"></div>
        <div><img src="/img/marcaFender.png" alt="marca2"></div>
        <div><img src="/img/marcaEpiphone.png" alt="marca3"></div>
        <div><img src="/img/marcaPRS.webp" alt="marca4"></div>
        <div><img src="/img/marcaGibson.jpg" alt="marca5"></div>
        <div><img src="/img/marcaIbanez.jpg" alt="marca6"></div>
        <div><img src="/img/marcaSquier.png" alt="marca7"></div>
    </div>

    <section>
        <h2>Ofertas</h2>
        <div><!-- Carrete Ofertas -->

            <div><!-- Card -->
                <img src="/img/prod1.jpg" alt="">
                <div>
                    <h3>Nombre Producto</h3>
                    <p>Precio</p>
                    <div>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </div>
            </div><!-- fin card -->
        </div><!-- fin carrete -->
    </section>
    <section>
        <h2>Últimos Modelos</h2>
        <div><!-- Contenedor cards -->
            <div><!-- Card -->
                <img src="/img/prod1.jpg" alt="">
                <div>
                    <h3>Nombre Producto</h3>
                    <p>Descripcion</p>
                    <p>Precio</p>
                    <div>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </div>
            </div><!-- fin card -->
            <div><!-- Card -->
                <img src="/img/prod1.jpg" alt="">
                <div>
                    <h3>Nombre Producto</h3>
                    <p>Descripcion</p>
                    <p>Precio</p>
                    <div>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </div>
            </div><!-- fin card -->
            <div><!-- Card -->
                <img src="/img/prod1.jpg" alt="">
                <div>
                    <h3>Nombre Producto</h3>
                    <p>Descripcion</p>
                    <p>Precio</p>
                    <div>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </div>
            </div><!-- fin card -->
            <div><!-- Card -->
                <img src="/img/prod1.jpg" alt="">
                <div>
                    <h3>Nombre Producto</h3>
                    <p>Descripcion</p>
                    <p>Precio</p>
                    <div>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </div>
            </div><!-- fin card -->
        </div>
    </section>
</body>

</html>