<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6f4f4fce15.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>SignatureGuitars</title>


</head>
<header class="home__header">
    <div class="home__header_logo">
        <a href=""><img src="/img/Logo.png" alt="Logo"></a>
    </div>
    <div class="home__header_container_menu">
    <button class="home__header_burguerMenu">
        <i class="fa-solid fa-bars"></i>
    </button>
    <nav class="home__header_nav-menu">
        <ul>
            <li class="home__header_butonCatalogo"><a href="">Catálogo</a></li>
            <li class="home__header_butonNoticias"><a href="">Noticias</a></li>
            <li class="home__header_butonCategorias"><a href="">Categorías</a></li>
        </ul>
    </nav>
    <nav class="home__header_nav-users">
        <a href="" class="home__header_nav--users-user"><i class="fa-solid fa-user"></i></a>
        <a href="" class="home__header_nav--users-cart"><i class="fa-solid fa-cart-shopping"></i></a>
    </nav>
</div>
</header>

<body class="home__body">
    <div class="home__body_banner"><!-- BANNER -->
        <img src="/img/banner-rhcp.gif" alt="bannerAnimado">
    </div>
   

    <section class="home__body_sectionOfertas">
        <h2 class="home__body_sectionOfertas--titulo">Ofertas</h2>
        <div class="glider-contain">
       
                 
            <div id="glider">

                <div class="card"><!-- card -->
                    <img src="/img/prod1.jpg" alt="">
                    <div>
                        <h3>Nombre Producto</h3>
                        <p>Precio</p>
                        <div>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="card"><!-- card -->
                    <img src="/img/prod2.jpg" alt="">
                    <div>
                        <h3>Nombre Producto</h3>
                        <p>Precio</p>
                        <div>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
                <div class="card"><!-- card -->
                    <img src="/img/prod3.jpg" alt="">
                    <div>
                        <h3>Nombre Producto</h3>
                        <p>Precio</p>
                        <div>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                    </div>
                </div>
            </div>
            <button id="buttonGlider" class="home__body_sectionOfertas_glider--button-prev"><i
                class="fas fa-chevron-circle-left"></i></button>
            <button id="buttonGlider" class="home__body_sectionOfertas_glider--button-next"><i
                class="fas fa-chevron-circle-right"></i></button>
        </div>

    </section>
    <div class="home__body_carreteMarcas"><!-- CARRETE MARCAS -->
        <div class="home__body_carreteMarcas-container">

            <div class="home__body_carreteMarcas-container-image"><img src="/img/marcaBCRich.png" alt="marca1"></div>
            <div class="home__body_carreteMarcas-container-image"><img src="/img/marcaFender.png" alt="marca2"></div>
            <div class="home__body_carreteMarcas-container-image"><img src="/img/marcaEpiphone.png" alt="marca3"></div>
            <div class="home__body_carreteMarcas-container-image"><img src="/img/marcaPRS.webp" alt="marca4"></div>
            <div class="home__body_carreteMarcas-container-image"><img src="/img/marcaGibson.jpg" alt="marca5"></div>
            <div class="home__body_carreteMarcas-container-image"><img src="/img/marcaIbanez.jpg" alt="marca6"></div>
            <div class="home__body_carreteMarcas-container-image"><img src="/img/marcaSquier.png" alt="marca7"></div>

        </div>
    </div>
    <section class="home__body_sectionUltimos">
        <h2 class="home__body_sectionUltimos--titulo">Últimos Modelos</h2>
        <div class="home__body_sectionUltimos--container"><!-- Contenedor cards -->
            <div class="home__body_sectionUltimos--card"><!-- Card -->
                <img src="/img/prod1.jpg" alt="">
                <div class="home__body_sectionUltimos--card-info">
                    <h3 class="home__body_sectionUltimos--card-info-titulo">Nombre Producto</h3>
                    <p class="home__body_sectionUltimos--card-info-descripcion">Descripcion</p>
                    <p class="home__body_sectionUltimos--card-info-precio">Precio</p>
                    <div class="home__body_sectionUltimos--card-info-iconos">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </div>
            </div><!-- fin card -->
            <div class="home__body_sectionUltimos--card"><!-- Card -->
                <img src="/img/prod1.jpg" alt="">
                <div class="home__body_sectionUltimos--card-info">
                    <h3 class="home__body_sectionUltimos--card-info-titulo">Nombre Producto</h3>
                    <p class="home__body_sectionUltimos--card-info-descripcion">Descripcion</p>
                    <p class="home__body_sectionUltimos--card-info-precio">Precio</p>
                    <div class="home__body_sectionUltimos--card-info-iconos">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </div>
            </div><!-- fin card -->
            <div class="home__body_sectionUltimos--card"><!-- Card -->
                <img src="/img/prod1.jpg" alt="">
                <div class="home__body_sectionUltimos--card-info">
                    <h3 class="home__body_sectionUltimos--card-info-titulo">Nombre Producto</h3>
                    <p class="home__body_sectionUltimos--card-info-descripcion">Descripcion</p>
                    <p class="home__body_sectionUltimos--card-info-precio">Precio</p>
                    <div class="home__body_sectionUltimos--card-info-iconos">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </div>
            </div><!-- fin card -->
            <div class="home__body_sectionUltimos--card"><!-- Card -->
                <img src="/img/prod1.jpg" alt="">
                <div class="home__body_sectionUltimos--card-info">
                    <h3 class="home__body_sectionUltimos--card-info-titulo">Nombre Producto</h3>
                    <p class="home__body_sectionUltimos--card-info-descripcion">Descripcion</p>
                    <p class="home__body_sectionUltimos--card-info-precio">Precio</p>
                    <div class="home__body_sectionUltimos--card-info-iconos">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </div>
                </div>
            </div><!-- fin card -->
        </div>

    </section>

    <script src="/javascript/glider.js"></script>
    <script src="/javascript/carouselMarcas.js"></script>
</body>
<footer class="home__footer">
    <div class="home__footer_info"><!-- otros links -->
        <nav class="home__footer_info-nav">
            <ul>
                <li class="home__footer_info-nav-faqs"><a href="">Preguntas Frecuentes</a></li>
                <li class="home__footer_info-nav-terms"><a href="">Términos y Condiciones</a></li>
                <li class="home__footer_info-nav-pagos"><a href="">Medios de Pago</a>
                    <span class="home__footer_info--nav-pagos-iconos">
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-bitcoin"></i>
                    </span>
                </li>
            </ul>
        </nav>

    </div>
    <div class="home__footer_info-contacto"><!-- contacto -->
        <h3 class="home__footer_info-contacto-titulo">Contacto</h3>
        <h5 class="home__footer_info-contacto-mail">signature@guitars.com</h5>
        <nav class="home__footer_info-nav">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-discord"></i></a>
            <a href=""><i class="fa-brands fa-telegram"></i></a>
        </nav>
    </div>
    <div>
        <h4 class="home__footer_info-contacto-subtitulo">Copyright Pablo Mas & Sol López - 2023</h4>
    </div>



</footer>

</html>