.glider-contain {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex: 0 0 auto;
    margin: 4px;
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px;
    border-radius: 5%;
    background: linear-gradient(330deg, rgba(13, 4, 22, 1) 10%, rgba(76, 89, 89, 0.8323704481792717) 35%, rgba(230, 223, 226, 1) 100%);



}
.card img {
    width: 90%;
    border-radius: 10%;
    margin-top: 5px;
}

.home__body_sectionOfertas_glider--button-prev {
    border: none;
    background: transparent;
}
.home__body_sectionOfertas_glider--button-next {
    position:relative;
    border: none;
    background: transparent;
    margin: 5px;
}
@media (min-width:768px) {
    .glider-contain{
margin: 10px;
padding: 20px 0 0 30px;
    }
    .card{
        width: 30%;
        height: 20%;
    }
    .card img{
width: 80%;
    }
}