/* 
* {
    box-sizing: border-box
}
html, body {
   
    overflow: hidden;
}

.glider-contain {
    width: 30%;
    max-width: 997px;
    margin: 0 auto;
}
.glider-slide {
    min-height: 150px;
}
.glider-slide img {
    width: 30%;
}
 */
 .glider-contain {
   /*  display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%; */
    width: 80%;
    display: flex;
 }
 .glider {
    display: flex;
 }
.card {
    flex: 0 0 auto;
    margin-right: 10px;
    width: 30%;
}
.card img {
    width: 100%;
}
