.home__header {
    background-color: black;
    font-size: 10px;
}

.home__header_logo {
    margin: 10px 10px;
    border-radius: 25px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}

.home__header_logo img {
    width: 30%;
}

.home__header_container_menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home__header_burguerMenu {
    background-color: black;
    border-radius: 50%;
    width: 10%;
    height: 20%;
    margin-left: 10px;
}

.home__header_burguerMenu i {
    color: #fff;

}

.home__header_nav-menu {
    display: none;
}
.home__header_nav-users {
    width: 20%;
    display: flex;
}
.home__header_nav-users a {
    color: #fff;
    width: 50%;
}
.home__body {
    color: black;
    font-family: var(--font-primary);
  font-size: 1rem;
}
.home__body_banner {
    display: none;
}
.home__body_banner img {
    width: 100%;

}
.home__body_sectionOfertas {
    background: linear-gradient(180deg, rgba(13, 4, 22, 1) 10%, rgba(76, 89, 89, 0.8323704481792717) 55%, rgba(230, 223, 226, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home__body_sectionOfertas--titulo {
    width: 100%;
    text-align-last: center;
    color: #fff;
    font-size: 1rem;
}
.home__body_sectionUltimos {
    background: linear-gradient(160deg, rgba(13, 4, 22, 1) 0%, rgba(76, 89, 89, 0.8323704481792717) 45%, rgba(230, 223, 226, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.home__body_sectionUltimos--titulo {
    color: black;
}
.home__body_sectionUltimos--container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.home__body_sectionUltimos--card {
    color: #fff;
    border: 2px black;
    border-radius: 10%;
    /*     background: linear-gradient(360deg, rgba(13, 4, 22, 1) 0%, rgba(76, 89, 89, 0.8323704481792717) 15%, rgba(230, 223, 226, 1) 100%);
 */
    margin: 1vh 3vh;
    padding: 12px;
    display: flex;
    transition: 2000ms;
}
.home__body_sectionUltimos--card img {
    width: 88px;
    border-radius: 30%;
}
.home__body_sectionUltimos--card-info {}
.home__body_sectionUltimos--card-info-titulo {
    font-size: 1rem;
}
.home__body_sectionUltimos--card-info-descripcion {
    display: none;
    font-size: 1rem;
}
.home__body_sectionUltimos--card-info-precio {
    font-size: 1rem;
}
.home__body_sectionUltimos--card-info-iconos {
    display: flex;
    justify-content: flex-end;
}
.home__footer {
    background-color: black;
    color: #fff;
    display: flex;
    font-size: 0.9rem;
    align-items: flex-end;
    width: 100%;
    padding: 13px 0 5px 0px;
}
.home__footer a {
    color: #fff;
}
.home__footerol, ul {
    padding-left: 0.5rem;
}
.home__footer_info {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    font-size: 0.4rem;
}
.home__footer_info--nav {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.home__footer_info-copy {
    width: 30%;
}
.home__footer_info--nav-pagos {
    width: 100%;
}
.home__footer_info--nav-pagos-iconos {
    width: 100%;
}
.home__footer_info-contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   font-size: 0.2rem; 
    align-items: center;
    width: 30%;
}
.home__footer_info-contacto-titulo {
    font-size: 0.2rem; 
}
.home__footer_info-contacto-mail {
    font-size: 0.2rem; 
}
.home__footer_info-nav {
 
}
.home__footer_info-contacto-subtitulo {
    font-size: 0.5rem;
}

@media (min-width:768px) {
    .home__body{
        font-size: 1rem;
    }
    .home__header_container_menu ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }
    .home__header_logo{
        width: 600px;
            }

    .home__header_nav-menu {
        display: flex;
        width: 80%;
        flex-wrap: wrap;
    }

    .home__header_nav-menu a {
        color: #fff;
font-size: 1rem;

    }

    .home__header_burguerMenu {
        display: none;
    }

    .home__body_banner {
        display: flex;
        height: 250px;
    }

    .home__body_sectionOfertas {
        margin-top: 5px;

    }

    .home__body_sectionOfertas--titulo {
        font-size: 1.5rem;
    }

    .home__body_sectionUltimos {
        background: linear-gradient(180deg, rgba(13, 4, 22, 1) 0%, rgba(76, 89, 89, 0.8323704481792717) 45%, rgba(230, 223, 226, 1) 100%);

    }

    .home__body_sectionUltimos--titulo {
        color: #fff;
        font-size: 1.5rem;
    }

    .home__body_sectionUltimos--container {
        display: flex;
        justify-content: center;
    }

    .home__body_sectionUltimos--card {
        width: 60%;
        border-radius: 10%;
    }

    .home__body_sectionUltimos--card img {
        width: 40%;
        border-radius: 3px;
    }

    .home__body_sectionUltimos--card-info {
        width: 60%;
    }

    .home__body_sectionUltimos--card-info-titulo {
        font-size: 1rem;
    }

    .home__body_sectionUltimos--card-info-descripcion {
        display: inline;
        font-size: 0.8rem;
    }

    .home__body_sectionUltimos--card-info-precio {
        font-size: 1rem;
    }

    .home__footer a,
    .home__footer_info-contacto-subtitulo,
    .home__footer_info-nav-pagos,
    .home__footer_info-contacto, .home__footer_info-contacto-mail, .home__footer_info-contacto-titulo {
        font-size: 0.8rem;
    }

}

@media (min-width:1024px) {

    .home__body_sectionOfertas,
    .home__body_sectionUltimos {
        margin: 5px;
    }

    .home__body_sectionUltimos--container {}

    .home__body_sectionUltimos--card{
        display: flex;
        flex-direction: column;
        width: 20%;
        border-radius: 5%;
        background-color: black;
        align-items: center;


    }
    .home__body_sectionUltimos--card img{
        width: 90%;
        border-radius: 5px;
    }

    .home__body_sectionUltimos--card:hover {
        background-color: #fff;
        color: black;
    }
 
}