<header class="home__header">
    <div class="home__header_container">
        <div class="home__header_logo">
            <a href="/" class="home__header_logo_text">

                <h1>Signature</h1>
                <h2>Guitars</h2>
            </a>
        </div>
    </div>




</header>