<nav class="navbar navbar-expand-lg bg-dark w-100">
    <div class="container-fluid">
      <a class="navbar-brand text-light " href="#"><small>Catálogo</small></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#"><small>Noticias</small></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#"><small>Categorías</small></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#"><small> Novedades</small></a>
          </li>
          <li class="nav-item dropdown bg-dark">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><small> Registrate</small>
             
            </a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="dropdown-item text-light" href="/users/login">Ingresá</a></li>
              <li><a class="dropdown-item text-light" href="#">Tus Favoritos</a></li>
              <li><a class="dropdown-item text-light" href="/users/cart">Tu carrito</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <nav class="home__header_nav-users">
        <a href="/users/login" class="home__header_nav--users-user"><i class="fa-solid fa-user"></i></a>
        <a href="/users/cart" class="home__header_nav--users-cart"><i class="fa-solid fa-cart-shopping"></i></a>
    </nav>
    </div>
  </nav>