<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <h2 class="d-flex justify-content-center">Mi Perfil</h2>
    <h3 class="text-center">Mis Datos Personales</h3>
    <div class="box_datos">
 
        <form action="" >
            <div class="d-flex datos_personales">
                <img src="/img/icon-avatar.jpg" alt="avatar" class="avatar">
               <div class="col">
                Nombre<input type="text" value="first_name" class="form-control">
                Apellido<input type="text" value="last_name"class="form-control">
                Email<input type="text" value="email"class="form-control">
               </div> 
            </div>
      
            Dirección<input type="text" value="address"class="form-control">
            Código Postal<input type="text" value="zipcode"class="form-control">
            Ciudad<input type="text" value="city"class="form-control">
            Pais<input type="text" value="country"class="form-control">

            <button type="submit" class="btn btn-primary mt-3">Editar Perfil</button>
        </form>
    </div>
   
  
    
</body>
</html>