<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <form action="/users/profile" class="container">
        <h2>Registrate</h2>
        <div class="mb-3 row">
            <label for="first_name" class="form-label">Nombre</label>
            <input type="first_name" class="form-control" id="first_name">
        </div> <div class="mb-3 row">
            <label for="last_name" class="form-label">Apellido</label>
            <input type="last_name" class="form-control" id="last_name">
        </div> <div class="mb-3 row">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
        </div> <div class="mb-3 row">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password">
        </div> <div class="mb-3 row">
            <label for="password2" class="form-label">Repetir Contraseña</label>
            <input type="password2" class="form-control" id="password2">
        </div>
        <button type="submit" class="btn btn-primary">Registrate</button>
    </form>
</body>
</html>