<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('./partials/head.ejs') %>
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>

        <body>
            <main>
                <section>

                    <h4>Catálogo > PRS > Serie SE > Este Producto</h3>

                        <div>
                            <div>
                                <h3>Titulo de Producto</h3>
                            </div>
                            <div>
                                <img src="" alt="ImagenSecundaria">
                                <img src="" alt="ImagenSecundaria">
                                <img src="" alt="ImagenSecundaria">
                                <img src="" alt="ImagenSecundaria">
                            </div>
                            <div>
                                <img src="" alt="ImagenPrincipal">
                            </div>
                            <div>
                                <p>Descripcion: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, iste
                                    vel?
                                    Temporibus labore
                                    sed, deleniti quasi voluptate eos quam repellendus molestiae reiciendis, veritatis
                                    perferendis dolore saepe est dignissimos aut libero?
                                </p>
                                <h4>
                                    U$S 2000
                                </h4>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-circle"></i>
                                <i class="fa-solid fa-star"></i>
                                <button>Agregar al carrito</button>
                            </div>
                        </div>
                </section>
                <section><!-- Características -->
                    <h4>
                        Lo que tenés que saber de este producto
                    </h4>
                    <div> <!-- Primera Caract -->
                        <h4>Body</h4>
                        <ul>
                            <li>
                                <h6><b>Body Construction </b><span>SolidBody</span> </h6>
                            </li>
                            <li>
                                <h6><b>Body Wood </b><span>Poplar</span> </h6>
                            </li>
                            <li>
                                <h6><b>Top Carve </b><span>Flat Top</span> </h6>
                            </li>
                        </ul>
                    </div>
                    <div> <!-- Segunda Caract -->
                        <h4>Hardware</h4>
                        <ul>
                            <li>
                                <h6><b>Bridge </b><span>2-Point Steel Tremolo</span> </h6>
                            </li>
                            <li>
                                <h6><b>Tuners </b><span>Vintage-Style</span> </h6>
                            </li>
                            <li>
                                <h6><b>Hardware Type </b><span>Nickel</span> </h6>
                            </li>
                            <li>
                                <h6><b>Nut </b><span>Synthetic Bone</span> </h6>
                            </li>
                        </ul>
                    </div>
                    <div> <!-- Tercera Caract -->
                        <h4>Neck</h4>
                        <ul>
                            <li>
                                <h6><b>Lorem 1</b><span>Value</span> </h6>
                            </li>

                            <li>
                                <h6><b>Lorem 2</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 3</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 4</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 5</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 6</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 7</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 8</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 9</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 10</b><span>Value</span> </h6>
                            </li>
                        </ul>
                    </div>
                    <div> <!-- Cuarta Caract -->
                        <h4>Electronics</h4>
                        <ul>
                            <li>
                                <h6><b>Lorem 1</b><span>Value</span> </h6>
                            </li>

                            <li>
                                <h6><b>Lorem 2</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 3</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 4</b><span>Value</span> </h6>
                            </li>

                        </ul>
                    </div>
                    <div> <!-- Quinta Caract -->
                        <h4>Neck/Body Assembly</h4>
                        <ul>
                            <li>
                                <h6><b>Lorem 1</b><span>Value</span> </h6>
                            </li>
                        </ul>
                    </div>
                    <div> <!-- Sexta Caract -->
                        <h4>Additio0nal Info</h4>
                        <ul>
                            <li>
                                <h6><b>Lorem 1</b><span>Value</span> </h6>
                            </li>

                            <li>
                                <h6><b>Lorem 2</b><span>Value</span> </h6>
                            </li>
                            <li>
                                <h6><b>Lorem 3</b><span>Value</span> </h6>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- Videos / Reseñas -->
                <div>
                    <button><h3>Videos</h3></button>
                    <button><h3>Reseñas</h3></button>
                </div>
            </main>
        </body>

</html>