<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>

    <form class="container mb-3">
        <h2>Ingresá</h2>
        <label for="email" class="form-label">Email </label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password">
        </div>
    </form>
</body>

</html>